<ion-view title="Telefonos">

	<div class="map">
		<iframe src="http://iupi-map.herokuapp.com/"></iframe>
	</div>

    <ion-content style="margin-top:220px;" >
    	<ion-refresher
	      pulling-text="Actualizando telefonos"
	      on-refresh="getPhones()">
	    </ion-refresher>
	   <div class="list card" ng-repeat="telefono in telefonos">

		  <div class="item item-avatar">
		    <img src="../img/small-map.png">
		    <h2>{{ telefono.place }}</h2>
		    <p>{{ telefono.lat }}, {{ telefono.lon }}</p>
		    <img src="../img/telefono-right.png" style="position:absolute; top:20px; right:21px; width:20px; ">
		  </div>

		  <div class="item item-body">
		    <p>
		      {{ telefono.description }}
		    </p>
		  </div>

		</div>

		

		
  	</ion-content>
</ion-view>
