<ion-view title="Recursos">
  <ion-content class="padding">
    <div class="list card">

	  <div class="item item-avatar">
	    <img src="../img/small-map.png">
	    <h2>Oficina de Seguridad</h2>
	    <p>787 XXX XXXX</p>
	    <img src="../img/green-phone.png" style="position:absolute; top:21px; right:16px; width:30px; ">
	  </div>

	</div>

	<div class="list card">

	  <div class="item item-avatar">
	    <img src="../img/small-map.png">
	    <h2>Oficina de Seguridad</h2>
	    <p>787 XXX XXXX</p>
	    <img src="../img/green-phone.png" style="position:absolute; top:21px; right:16px; width:30px; ">
	  </div>

	</div>

	<div class="list card">

	  <div class="item item-avatar">
	    <img src="../img/small-map.png">
	    <h2>Oficina de Seguridad</h2>
	    <p>787 XXX XXXX</p>
	    <img src="../img/green-phone.png" style="position:absolute; top:21px; right:16px; width:30px; ">
	  </div>

	</div>
  </ion-content>
</ion-view>
