<ion-view title="Rutas">
  <div class="map">
		<iframe src="http://iupi-map.herokuapp.com/"></iframe>
	</div>

    <ion-content style="margin-top:220px;">
	   <div class="list card">

		  <div class="item item-avatar">
		    <img  src="../img/small-map.png">
		    <h2>Facundo Bueso</h2>
		    <p>Ruta principal</p>
		    <img src="../img/ruta-right.png" style="position:absolute; top:21px; right:21px; width:30px; ">
		  </div>

		 
		    <div class="item item-avatar ruta">
		    <img src="../img/location.png">
		    <h2>Tu localizacion</h2>
		  </div>
		  
		  <hr class="divider">

		  <div class="item item-avatar ruta">
		    <img src="../img/forward.png">
		    <h2>Continue directo</h2>
		  </div>

		  <hr class="divider">

		  <div class="item item-avatar ruta">
		    <img src="../img/right.png">
		    <h2>Gire a la derecha</h2>
		  </div>

		  <hr class="divider">

		  <div class="item item-avatar ruta">
		    <img src="../img/forward.png">
		    <h2>Siga directo hasta salir</h2>
		  </div>

		  <br>

		</div>

		
  	</ion-content>
</ion-view>
