<ion-view title="Alertas">

  <div class="template-divider">

  		<a class="button header-nav nav-active" ng-click="backSlide()" ng-if="myActiveSlide == 0"> INCIDENTES</a> 

  		<a class="button header-nav" ng-click="backSlide()" ng-if="myActiveSlide == 1"> ALERTAS</a> 

  		<a class="button header-nav" ng-click="nextSlide()" ng-if="myActiveSlide == 0"> REPORTES</a>

  		<a class="button header-nav nav-active" ng-click="nextSlide()" ng-if="myActiveSlide == 1"> REPORTES</a>
  		
  	</div>

  <ion-content class="padding" style="margin-top:50px;">

  	<ion-slide-box on-slide-changed="indexUpdate($index)" show-pager="false">
	  <ion-slide>
	    <div class="list card" ng-repeat="alerta in alertas">

		  <div class="item item-avatar">
		    <img src="../img/small-map.png">
		    <h2>{{ alerta.title }}</h2>
		    <p>{{ alerta.incident_date }}</p>
		  </div>

		  <div class="item item-body">
		    <p>
		      {{ alerta.message }}
		    </p>
		  </div>
		</div>

		
	  </ion-slide>

	  <ion-slide>
	    <div class="list card" ng-repeat="reporte in reportes">

		  <div class="item item-avatar">
		    <img src="../img/small-map.png">
		    <h2>{{ reporte.title }}</h2>
		    <p>{{ reporte.faculty }}</p>
		  </div>

		  <div class="item item-body">
		    <p>
		      {{ reporte.message }}
		    </p>
		  </div>

		  

		</div>
	  </ion-slide>

	</ion-slide-box>
  
  </ion-content>
</ion-view>
