<ion-view title="Trolley">
  <div class="map">
		<iframe src="http://iupi-map.herokuapp.com/"></iframe>
	</div>

    <ion-content style="margin-top:220px;">
	   <div class="list card">

		  <div class="item item-avatar">
		    <img src="../img/small-map.png">
		    <h2>Ruta 1</h2>
		    <p>7:00 am a 9:00 pm</p>
		    <img src="../img/trolley-right.png" style="position:absolute; top:25px; right:21px; width:30px; ">
		  </div>

		  <div class="item item-body">
		    <table width="100%" >
		    	<tr>
		    		<td>
		    			<h2>Arquitectura</h2>
		    		</td>
		    		<td>
		    			<img class="trolley-img" src="../img/right-arrow.png">
		    		</td>
		    		<td align="right">
		    			<h2>C. Naturales</h2>
		    		</td>
		    	</tr>

		    	<tr height="10px">
		    	</tr>
		    	
		    	<tr>
		    		<td>
		    			<h2>C. Naturales</h2>
		    		</td>
		    		<td>
		    			<img class="trolley-img" src="../img/right-arrow.png">
		    		</td>
		    		<td align="right">
		    			<h2>Centro Est.</h2>
		    		</td>
		    	</tr>

		    	<tr height="10px">
		    	</tr>

		    	<tr>
		    		<td>
		    			<h2>Centro Est.</h2>
		    		</td>
		    		<td>
		    			<img class="trolley-img" src="../img/right-arrow.png">
		    		</td>
		    		<td align="right">
		    			<h2>Plaza Univ.</h2>
		    		</td>
		    	</tr>

		    	<tr height="10px">
		    	</tr>

		    	<tr>
		    		<td>
		    			<h2>Plaza Univ.</h2>
		    		</td>
		    		<td>
		    			<img class="trolley-img" src="../img/right-arrow.png">
		    		</td>
		    		<td align="right">
		    			<h2>Humanidades</h2>
		    		</td>
		    	</tr>

		    	<tr height="10px">
		    	</tr>

		    	<tr>
		    		<td>
		    			<h2>Humanidades</h2>
		    		</td>
		    		<td>
		    			<img class="trolley-img" src="../img/right-arrow.png">
		    		</td>
		    		<td align="right">
		    			<h2>Multipiso</h2>
		    		</td>
		    	</tr>

		    	<tr height="10px">
		    	</tr>
		    </table>
		  </div>

		</div>

		
  	</ion-content>
</ion-view>
